body{
    background-color: red;
color:black;
justify-content: center;
height: 50px;
margin: 0;
background-color: rgb(133, 130, 130);
}

h1 {
display: flex;
color:rgb(248, 0, 0);
justify-content: center;
align-items: center;
height: 100px;
margin: 0;
flex-direction: column;
}
button  {
    
        color: white;            /* Cor do texto do botão */
        background-color: transparent; /* Fundo transparente no botão */
        border: 2px solid white; /* Borda branca no botão */
        padding: 10px 20px;      /* Espaçamento interno no botão */
        font-size: 16px;         /* Tamanho da fonte */
        justify-content: flex-end;
}
 h2{
    text-align: center;
    display: flex;
color:black;
justify-content: center;
align-items: center;
height: px;
margin: 0px;
 }
 p{
    text-align:center;
 }
 img {
    margin-left: auto;   /* Margem à esquerda automática */
    margin-right: auto;  /* Margem à direita automática */
    display: block;      /* Tornar o elemento um bloco */
}

header{
color: rgb(255, 6, 6);
display: flex;
background-color: rgba(0, 0, 0, 0.89);
margin: 100px;
justify-items: center;
align-items: left;
}

header{ color:rgb(255, 0, 0); 
    justify-content: center; 
    align-items: center; 
    height: 100px; 
    margin: 00px;
 }
select {
    display: block;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}
    .buttons{
display: flex;
justify-content: center;  /* Centraliza os botões horizontalmente */
align-items: center;      /* Centraliza os botões verticalmente */
 gap: 10px;                /* Adiciona um pequeno espaço entre os botões */
margin-top: 20px;         /* Adiciona um espaço acima dos botões */
}
image [
  
]